/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner content styles start from here */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 80px;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    margin: 15px;
}
.btn-primary{
    
}